.token-table-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .btngroup, .btngroup > .btn {
        display: flex;
        align-items: center;
    }
}
.token-table-tbody {
    .tbody-oneline-ellipsis {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .token-table-btngroup {
        max-width: 300px;
    }
}