* {
  box-sizing: border-box;
}
html,
body,
#__flareact {
  width: 100%;
  height: 100%;
}
.moker__navbar {
  padding: 0.4rem;
  position: fixed;
  width: 100%;
  background: rgba(247, 248, 249, 0.65);
}
.moker__sidebar {
  width: 4rem;
  height: 100%;
  li {
    span {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 1rem;
      svg {
          margin-right: .5rem;
      }
    }
  }
  .logo-holder {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-holder__wrapper {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.off-canvas-content.moker__off-canvas-content {
  padding: 1rem;
  padding-top: 4rem;
}
